<div class="row">
    <div class="col-md-6">
        <button ng-click="reset()">Reset game board</button>
        <button ng-click="randomize()">Randomize game board</button>
    </div>
    <div class="col-md-3">
        <button ng-click="findWords()">Find words!</button>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>Boggle</h3>
        <table>
            <tr>
                <td class="edge">&nbsp;</td>
                <td class="edge" ng-repeat="columnNumber in columnNumbers">{{ columnNumber }}</td>
            </tr>
            <tr ng-repeat="rowNumber in rowNumbers">
                <td class="edge">{{ rowNumber }}</td>
                <td ng-repeat="columnNumber in columnNumbers">
                    <input type="text"
                           ng-change="uppercase(rowNumber, columnNumber)"
                           ng-model="Board.getBoard()[rowNumber][columnNumber]"
                           maxlength="1">
                </td>
            </tr>
        </table>
    </div>

    <div class="col-md-3">
        <h3>Words found: {{ wordsFound.length }}</h3>
        <select disabled="disabled"
                multiple="multiple"
                ng-model="fake1"
                ng-options="word for word in wordsFound">
        </select>
    </div>

    <div class="col-md-3">
        <h3>Dictionary</h3>
        <select disabled="disabled"
                multiple="multiple"
                ng-model="fake2"
                ng-options="word for word in dictionary">
        </select>
    </div>
</div>
