<div>
    <div>
        <div>
            <button ng-click="reset()">Reset game board</button>
        </div>
        <div>
            <button ng-click="randomize()">Randomize game board</button>
        </div>
        <div>
            <button ng-click="findWords()">Find words!</button>
        </div>
    </div>
    <div>
        <table>
            <tr>
                <td class="edge">&nbsp;</td>
                <td class="edge" ng-repeat="columnNumber in columnNumbers">{{ columnNumber }}</td>
            </tr>
            <tr ng-repeat="rowNumber in rowNumbers">
                <td class="edge">{{ rowNumber }}</td>
                <td ng-repeat="columnNumber in columnNumbers">
                    <input type="text"
                           ng-model="board[rowNumber][columnNumber]"
                           maxlength="1">
                </td>
            </tr>
        </table>
    </div>

    <div>
        Words found:
        <br>
        {{ wordsFound }}
    </div>
    <div>
        Words not found:
        <br>
        {{ wordsNotFound }}
    </div>
    <div>
        <code>
            <p ng-repeat="row in board">{{ row }}</p>
        </code>
    </div>
</div>
